.bottom {
    bottom: 0;
    position: fixed;
}

.bottomElements {
    margin: 0.3rem;
}

.bottomElement {
    display: inline-block;
    border-color: rgba(0, 0, 0, 0);
}

.bottomElementPic {
    width: 2rem;
    height: 2rem;
}

.bottom::before {
    content: "";
    width: 95vw;
    height: 0.2rem;
    display: block;
    margin-left: 1ch;
    margin-right: 1ch;
    background-color: var(--divider-color);
}

button {
    border-color: rgba(0, 0, 0, 0);
    color: var(--text-color);
    background-color: var(--context-bg-color);
    border-radius: 1ch;
    margin: 0.5ch;
}

button:click {
    background-color: var(--button-background-active);
}

button:hover {
    background-color: var(--button-background-hover);
}
