#contextMenu {
    position: fixed;
    padding: 0.5rem;
    border-radius: 0.5rem;
    width: fit-content;
    background-color: var(--context-bg-color);
}

#contextTitle::after,
#contextMenu_folder:before,
#contextMenu_item:before {
    content: "";
    width: 100%;
    height: 0.1rem;
    display: block;
    margin: 0.2rem 0 0.2rem 0;
}

#contextTitle::after,
#contextMenu_item::before,
#contextMenu_folder::before {
    background-color: var(--divider-color) !important;
}

.contextElement {
    cursor: pointer;
    margin: 0.5ch;
}
