.disabled {
    display: none;
}

#list {
    overflow: auto;
    max-height: calc(100vh - 4rem);
    /* -ms-overflow-style: none; */
    /* IE and Edge */
    /* scrollbar-width: none; */
    /* Firefox */
    padding-left: 5px;
    padding-top: 5px;
}

#list.devMode {
    max-height: calc(100vh - 10rem);
}

#list::-webkit-scrollbar {
    display: none;
}

.listItem {
    padding: 0.15rem;
}

.favicon {
    height: 1.2rem;
    width: 1.2rem;
    margin-right: 1ch;
}

.arrow {
    height: 1.1rem;
    width: 1.1rem;
    margin-right: 0.8ch;
    position: relative;
    top: 0.25rem;
    left: 0.3rem;
    stroke: var(--folder-arrow-color);
}

.rotated {
    transform: rotate(-90deg);
}

.overflow {
    text-overflow: clip;
    overflow: hidden;
    white-space: nowrap;
}

.tabHidden {
    color: var(--color-hidden);
}

.name {
    display: inline;
}
