.disabled {
    display: none;
}

#container {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: flex-start;
}

#list {
    overflow: auto;
    height: auto;
    /* -ms-overflow-style: none; */
    /* IE and Edge */
    /* scrollbar-width: none; */
    /* Firefox */
    padding-left: 0.7ch;
    padding-right: 0.7ch;
    padding-top: 0.7ch;
    /* z-index: 1; */
}

#list.larger {
    /* max-height: calc(100vh - 5rem - 7.5vw); */
}

#list.devMode {
    /* max-height: calc(100vh - 20vw); */
}

#list::-webkit-scrollbar {
    display: none;
}

#root_dropoff {
    height: 15ch;
    width: 80vw;
    background-color: var(--element-hover-color);
    border-color: var(--divider-color);
    border-radius: 1ch;
    margin: auto;
    margin-top: 5ch;
    position: relative;
    margin-bottom: 4ch;
}

#root_dropoff > span {
    right: 50%;
    bottom: 50%;
    transform: translate(50%, 50%);
    position: absolute;
    font-weight: 200;
    font-size: large;
    text-align: center;
}

.listItem {
    padding: 0.15rem;
}

.favicon {
    height: 1rem;
    width: 1rem;
    margin-right: 1ch;
    margin-bottom: -0.15rem;
}

.arrow {
    height: 1rem;
    width: auto;
    margin-right: 1rem;
    position: relative;
    top: 0.25rem;
    left: 0.3rem;
    stroke: var(--folder-arrow-color);
}

.rotated {
    transform: rotate(90deg);
}

.overflow {
    text-overflow: clip;
    overflow: hidden;
    white-space: nowrap;
}

.tabHidden {
    color: var(--text-color-hidden);
    background-color: var(--item-bg-color-hidden);
}

.name {
    display: inline;
}

.element {
    /* background-color: var(--element-hover-color); */
    border-radius: 0.5ch;
    padding: 0.2rem;
    padding-left: 0.4rem;
    overflow-x: hidden;
}

.element:hover {
    background-color: var(--item-bg-hover-color);
}
