* {
    font-family: sans-serif;
    text-decoration: none;
}

body {
    height: 100vh;
    margin: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    fill: var(--text-color);
    stroke: var(--text-color);
    font-weight: normal;
}

.darkmode {
    --bg-color: #141e26ff;
    --context-bg-color: #223341ff;
    --text-color: #f6f6f6;
    --text-color-hidden: #868686;
    --item-bg-color-hidden: #00000000;
    /* --item-bg-color: #00000000; */
    --item-bg-hover-color: var(--context-bg-color);
    --divider-color: var(--text-color);
    --button-background: var(--context-bg-color);
    --button-background-hover: var(--folder-arrow-color);
    --folder-arrow-color: #f98604;
    --element-hover-color: var(--context-bg-color);
}

.lightmode {
    --bg-color: #ebf0f5;
    --context-bg-color: #b4c5d6ff;
    --text-color: black;
    --text-color-hidden: #acacac;
    --item-bg-color-hidden: #00000000;
    /* --item-bg-color: ; */
    --item-bg-hover-color: var(--context-bg-color);
    --divider-color: var(--text-color);
    --button-background: var(--context-bg-color);
    --button-background-hover: var(--folder-arrow-color);
    --folder-arrow-color: #f98604;
    --element-hover-color: var(--context-bg-color);
}

.closed {
    color: var(--folder-closed-text-color);
}

h3 {
    color: darkgrey;
    margin: auto;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
}

.overflow {
    text-overflow: clip;
    overflow: hidden;
    white-space: nowrap;
}

.disabled {
    display: none;
}

#addFolderNameInputContainer {
    margin: 2ch;
}

.noEvents {
    pointer-events: none;
}

.noPointerEvents {
    pointer-events: none;
}

.hover {
    opacity: 0.5;
}

.inbetween {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: grey;
}

.selected {
    background-color: #121111;
    fill: rgb(53, 53, 53);
    border-radius: 10%;
}

a:link,
a:visited {
    color: white;
}
